Repository ssafystudy/ProblemSolving, pull requests merged in 2022-10, with the labels that each got.

#175 leehyeji319:: programmers 신규아이디생성_이혜지.py
  common/programmers/신규아이디생성/신규아이디생성_이혜지.py
Labels: Review, Common

#185 leehyeji319:: programmers 메뉴리뉴얼_이혜지.py 추가
  common/programmers/메뉴리뉴얼/메뉴리뉴얼_이혜지.py
Labels: Common, Review completed

#178 jongseok-oh::programmers 카드짝맞추기_오종석.cpp 추가
  common/programmers/카드짝맞추기/카드짝맞추기_오종석.cpp
Labels: Common, Review completed

#204 leehyeji319:: boj 1446_지름길_이혜지.py 추가
  leehyeji319/boj/1446/1446_지름길_이혜지.py
Labels: Non-Common

#190 KangHyojin1401:: programmers 메뉴리뉴얼_강효진.java 추가
  common/programmers/메뉴리뉴얼/메뉴리뉴얼_강효진.java
Labels: Common, Review completed

#186 9jinseok:: programmers 신규아이디추천_고진석.java 추가
  common/programmers/신규아이디추천/신규아이디추천_고진석.java
Labels: Common, Review completed

#187 9jinseok:: programmers 메뉴리뉴얼_고진석.java 추가
  common/programmers/메뉴리뉴얼/메뉴리뉴얼_고진석.java
Labels: Common, Review completed

#188 9jinseok:: kakao 코딩테스트 풀이 추가
  9jinseok/kakao/카카오_1.java
  9jinseok/kakao/카카오_2.java
  9jinseok/kakao/카카오_3.java
  9jinseok/kakao/카카오_4.java
  9jinseok/kakao/카카오_6.java
Labels: Non-Common

#205 KangHyojin1401:: boj 1916 추가
  common/boj/1916_최소비용구하기_강효진.java
Labels: Review, Common

#208 movebxeax:: boj 11779_최소비용구하기2_변준우.cpp 추가
  common/boj/11779/11779_최소비용구하기2_변준우.cpp
Labels: Review, Common

#182 jongseok-oh::순위검색_오종석.java 추가
  common/programmers/순위검색/순위검색_오종석.java
Labels: Common, Review completed

#195 unannn:: boj 1717_집합의표현_이윤환.java 추가
  unannn/boj/1717/1717_집합의표현_이윤환.java
Labels: Non-Common

#196 unannn:: boj 1976_여행가자_이윤환.java 추가
  unannn/boj/1976/1976_여행가자_이윤환.java
Labels: Non-Common

#184 jongseok-oh::programmers 광고삽입_오종석.cpp 추가
  common/programmers/광고삽입/광고삽입_오종석.cpp
Labels: Common, Review completed

#206 movebxeax:: boj 2307_도로검문_변준우.cpp 추가
  common/boj/2307/2307_도로검문_변준우.cpp
Labels: Review, Common, Review completed

#207 movebxeax:: boj 1916_최소비용_변준우.cpp 추가
  common/boj/1916/1916_최소비용_변준우.cpp
Labels: Review, Common, Review completed

#218 movebxeax:: boj 1916_최소비용구하기_변준우.cpp 이름변경
  common/boj/1916/1916_최소비용구하기_변준우.cpp
Labels: Non-Common

#209 unannn:: boj 1916_최소비용구하기_이윤환.java 추가
  common/boj/1916/1916_최소비용구하기_이윤환.java
Labels: Review, Common, Review completed

#191 jongseok-oh::boj 1916_최소비용구하기_오종석.cpp 추가
  common/boj/1916/1916_최소비용구하기_오종석.cpp
Labels: Review, Common, Review completed

#199 leehyeji319:: boj 1915_최소비용구하기_이혜지.py 추가
  common/boj/1915/1915_최소비용구하기_이혜지.py
Labels: Common, Review completed

#202 unannn:: boj 1922_네트워크연결_이윤환.java 추가
  unannn/boj/1922/1922_네트워크연결_이윤환.java
Labels: Non-Common

#237 KangHyojin1401:: boj 15684_사다리조작_강효진.java 추가
  common/boj/15684/15684_사다리조작_강효진.java
Labels: Review, Common

#192 jongseok-oh::boj 11779_최소비용구하기2_오종석.cpp 추가
  common/boj/11779/11779_최소비용구하기2_오종석.cpp
Labels: Review, Common, Review completed

#193 jongseok-oh::boj 1162_도로포장_오종석.cpp 추가
  common/boj/1162/1162_도로포장_오종석.cpp
Labels: Review, Common, Review completed

#216 movebxeax:: boj 19237_어른상어_변준우.cpp 추가
  common/boj/19237/19237_어른상어_변준우.cpp
Labels: Review, Common

#217 movebxeax:: boj 15684_사다리조작_변준우.cpp 추가
  common/boj/15684/15684_사다리조작_변준우.cpp
Labels: Review, Common

#200 leehyeji319: boj 11779_최소비용구하기2_이혜지.py 추가
  common/boj/11779/11779_이혜지.py
Labels: Common, Review completed

#233 9jinseok:: boj 20057_마법사상어와토네이도_고진석.java 추가
  common/boj/20057/20057_마법사상어와토네이도_고진석.java
Labels: Review, Common

#232 9jinseok:: boj 15684_사다리조작_고진석.java 추가
  common/boj/15684/15684_사다리조작_고진석.java
Labels: Review, Common

#231 9jinseok:: boj 19237_어른상어_고진석.java 추가
  common/boj/19237/19237_어른상어_고진석.java
Labels: Review, Common

#198 unannn:: boj 4195_친구네트워크_이윤환.java 추가
  unannn/boj/4195/4195_친구네트워크_이윤환.java
Labels: Non-Common

#230 movebxeax:: boj 20057_마법사상어와토네이도_변준우.cpp 추가
  common/boj/20057/20057_마법사상어와토네이도_변준우.cpp
Labels: Review, Common

#235 leehyeji319:: boj 15684_사다리조작_이혜지.py 추가
  common/boj/15684/15684_사다리조작_이혜지.py
Labels: Review, Common

#219 movebxeax:: boj 14725_개미굴_변준우.cpp 추가
  movebxeax/boj/14725/14725_개미굴_변준우.cpp
Labels: Non-Common

#194 jongseok-oh::boj 5719_거의최단경로_오종석.cpp 추가
  jongseok-oh/boj/5719_거의최단경로_오종석.cpp
Labels: Review completed, Non-Common

#236 leehyeji319:: boj 20057_마법사상어와토네이도_이혜지.py 추가
  common/boj/20057/20057_마법사상어와토네이도_이혜지.py
Labels: Common, Review completed

#220 movebxeax:: boj 7432_디스크트리_변준우.cpp 추가
  movebxeax/boj/7432/7432_디스크트리_변준우.cpp
Labels: Non-Common

#197 unannn:: boj 20040_사이클게임_이윤환.java 추가
  unannn/boj/20040/20040_사이클게임_이윤환.java
Labels: Non-Common

#203 jongseok-oh::boj 2307_도로검문_오종석.cpp 추가
  common/boj/2307/2307_도로검문_오종석.cpp
Labels: Common, Review completed

#221 movebxeax:: boj 11003_최솟값찾기_변준우.cpp 추가
  movebxeax/boj/11003/11003_최솟값찾기_변준우.cpp
Labels: Non-Common

#222 movebxeax:: boj 2957_이진탐색트리_변준우.cpp 추가
  movebxeax/boj/2957/2957_이진탐색트리_변준우.cpp
Labels: Non-Common

#238 leehyeji319:: boj 11725_트리의부모찾기_이혜지.py 추가
  common/boj/11725/11725_트리의부모찾기_이혜지.py
Labels: Review, Common

#210 jongseok-oh::11725_트리의부모찾기_오종석.cpp 추가
  common/boj/11725/11725_트리의부모찾기_오종석.cpp
Labels: Review, Common

#239 leehyeji319:: boj 10991_트리순회_이혜지.py 추가
  common/boj/10991/10991_트리순회_이혜지.py
Labels: Common, Review completed

#215 unannn:: boj 15684_사다리조작_이윤환.java 추가
  common/boj/15684/15684_사다리조작_이윤환.java
Labels: Common, Review completed

#223 movebxeax:: boj 5670_휴대폰자판_변준우.cpp 추가
  movebxeax/boj/5670/5670_휴대폰자판_변준우.cpp
Labels: Non-Common

#224 movebxeax:: boj 5052_전화번호목록_변준우.cpp 추가
  movebxeax/boj/5052/5052_전화번호목록_변준우.cpp
Labels: Non-Common

#240 leehyeji319:: boj 1967_트리의지름_이혜지.py 추가
  common/boj/1967/1967_트리의지름_이혜지.py
Labels: Common, Review completed

#211 jongseok-oh::boj 1991_트리순회_오종석.cpp 추가
  common/boj/1991/1991_트리순회_오종석.cpp
Labels: Common, Review completed

#234 unannn:: boj 5972_택배배송_이윤환.java 추가
  unannn/boj/5972/5972_택배배송_이윤환.java
Labels: Non-Common

#225 movebxeax:: boj 5972_택배배송_변준우.cpp 추가
  movebxeax/boj/5972/5972_택배배송_변준우.cpp
Labels: Non-Common

#229 unannn:: boj 2146_다리만들기_이윤환.java 추가
  unannn/boj/2146/2146_다리만들기_이윤환.java
Labels: Non-Common

#212 jongseok-oh::boj 1967_트리의지름_오종석.cpp 추가
  common/boj/1967/1967_트리의지름_오종석.cpp
Labels: Common, Review completed

#226 movebxeax:: boj 9251_LCS_변준우.cpp 추가
  movebxeax/boj/9251/9251_LCS_변준우.cpp
Labels: Non-Common

#258 KangHyojin1401:: boj 5639_이진검색트리_강효진.java 추가
  common/boj/5639/5639_이진검색트리_강효진.java
Labels: Common, Review completed

#257 KangHyojin1401:: boj 1991_트리순회_강효진.java 추가
  common/boj/1991/1991_트리순회_강효진.java
Labels: Common, Review completed

#227 movebxeax:: boj 2325_개코전쟁_변준우.cpp 추가
  movebxeax/boj/2325/2325_개코전쟁_변준우.cpp
Labels: Non-Common

#241 unannn:: boj 11725_트리의부모찾기_이윤환.java 추가
  common/boj/11725/11725_트리의부모찾기_이윤환.java
Labels: Common, Review completed

#213 jongseok-oh::boj 15684_사다리조작_오종석.cpp 추가
  common/boj/15684/15684_사다리조작_오종석.cpp
Labels: Common, Review completed

#242 unannn:: boj 1991_트리순회_이윤환.java 추가
  common/boj/1991/1991_트리순회_이윤환.java
Labels: Common, Review completed

#264 leehyeji319:: boj 11660_구간합구하기5_이혜지.py 추가
  common/boj/11660/11660_구간합구하기5_이혜지.py
Labels: Review, Common

#246 unannn:: boj 1967_트리의지름_이윤환.java 추가
  common/boj/1967/1967_트리의지름_이윤환.java
Labels: Common, Review completed

#266 leehyeji319:: boj 3020_개똥벌레_이혜지.py 추가
  common/boj/3020/3020_개똥벌레_이혜지.py
Labels: Common, Review completed

#259 unannn:: boj 5639_이진검색트리_이윤환.java 추가
  common/boj/5639/5639_이진검색트리_이윤환.java
Labels: Common, Review completed

#272 movebxeax:: boj 3020_개똥벌레_변준우.cpp 추가
  common/boj/3020/3020_개똥벌레_변준우.cpp
Labels: Common, Review completed

#247 movebxeax:: boj 1167_트리의지름_변준우.cpp 추가
  common/boj/1167/1167_트리의지름_변준우.cpp
Labels: Common, Review completed
